#order {

    header {
        margin-bottom: 24px;
    }

    main {
        margin-bottom: 24px;

        .card {
            
            .group {
                padding: 24px;
                border: 1px solid #D9D9D9;
                border-radius: 10px;
                margin-bottom: 24px;

                &:last-child {
                    margin-bottom: 0;
                }

                .items {
                    
                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 12px;
                        border-bottom: 1px solid #D9D9D9;

                        &:last-child {
                            border-bottom: none;
                        }

                        .picture {
                            width: 72px;

                            img {
                                max-width: 100%;
                            }
                        }

                        .item-group {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;

                            .details {
                                display: flex;
                                flex-direction: column;

                                .item-name {
                                    color: var(--color-dark-gray);
                                    font-size: 16px;
                                    font-weight: 600;
                                }

                                .item-value {
                                    color: var(--color-black);
                                    text-align: right;
                                }

                                .item-quantity {
                                    color: var(--color-dark-gray);
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }

                .details {

                    .title {
                        color: var(--color-black);
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 16px;
                    }

                    .details-group {
                        
                        .details {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 12px;
                            margin-bottom: 12px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                            
                            .label {
                                color: var(--color-dark-gray);
                                font-size: 14px;
                                font-weight: 600;
                                width: 30%;
                            }

                            .value {
                                color: var(--color-dark-gray);
                                font-size: 14px;
                                font-weight: 400;
                                flex: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }
}

::ng-deep {

    #order {

        p-dropdown {

            .p-dropdown {
                background: #F8F8FA;
                width: 100%;
    
                .p-dropdown-label {
                    font-size: 14px;
                }

                .p-dropdown-label{
                    background: #F8F8FA;
                }
            }
        }

        .p-inputtext {
            background: #F8F8FA;
            font-size: 14px;
            font-weight: 400;
        }

        .group {

            .input-field {

                label {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}